body{
  background-image: url('./background.jpg');
  padding: 0;
  margin: 0;
  background-size: contain;
}
#myVideo {
 margin-bottom: -4px;
}
.headerContainer {
  padding: 2%;
  height: 212px;
  overflow: hidden;
}
img{
  width: 100%;
}
 main{
 padding: 0 3% 0;
 }
 .content{
  padding: 0 2% 0;
 }
 
 section.videobox {
  margin: 10px;
}

 section.fecha {
  width: 50%;
  display: flex;
  align-content: center;
  margin: 10px auto;
}

section.cafe {
  width: 25%;
  margin: 10px auto;
}
section.direccion {
  width: 60%;
  margin: 0 auto;
}

section.botton {
  width: 50%;
  margin: 10px auto;
}

section.codigodevestimenta {
 width: 50%;
  margin: 0 auto 0;
}


.videobox{
  position: relative;
}
.videobox div { 
  position: absolute;
  right: 0;
  top: -30px;
  height: 25px;
  width: 15px
}
.videobox div img{
  width: 12px;
  animation: animateFlechita .4s infinite;
}
@keyframes animateFlechita {
  from {
    transform: translateY(0%);
    opacity: 0;
  }

  to {
    transform: translateY(50%);
    opacity: 1
  }
}
